.hp1 {
    background: url(./bg2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
    top: 40;
    left:0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    /* background: linear-gradient(100deg, rgb(204, 204, 228), pink);
    width: 100%;
    left: 0; */
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  .album-block {
    background: linear-gradient(100deg, sandybrown, rgb(248, 248, 139));
    padding: 10px;
    /* text-align: right; */
    color: brown;
    font-weight: bold;
    font-size: large;
    border: blue solid 2px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: break-spaces;
  }
  